certifi==2024.2.2
influxdb-client==1.42.0
python-dateutil==2.9.0.post0
reactivex==4.0.4
setuptools==70.0.0
six==1.16.0
tabulate==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
wheel==0.43.0
